@import './fonts.css';
@import './colors.css';

/*======= HERO BANNER =======*/

.about_header{
    height: 13.938rem;
    overflow: hidden;
    margin: 0rem 6.25rem 2.688rem 6.25rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: black;
    border-radius: 1.563rem;
}

.about_header img{
    object-fit: cover;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
    height: 13.938rem;
    opacity: 70%;
}

/* ========  CONTENT  ==========*/

.about_section{
    display: flex;
    flex-direction: column;
    gap: 2.063rem;
    margin: 0rem 6.25rem 2.5rem 6.25rem;
    padding:0rem 6.75rem 0rem 6.75rem;
}

.about_section_article_header{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0.313rem;
    padding: 0.55rem 1.125rem 0.55rem 1.125rem;
}

.about_section_article_header h1{
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Montserrat';
    font-weight: var(--medium);
}

.svg{
    height: 1.5rem;
    align-self: center;
    rotate: 90deg;
    margin-right: 1.563rem;
}

.about_section p{
    margin: 0;
    padding: 1.688rem 1.125rem 1.125rem 1.125rem;
    font-size: 1.5rem;
    font-family: 'Montserrat';
    font-weight: var(--regular);
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    border-radius: 0 0 0.313rem 0.313rem;
}

/*=============== RESPONSIVE ================*/

/* ====== Tablettes ====== */
@media screen and (max-width: 1024.5px){
    
    .about_header{
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .about_section{
        padding: 0;
        margin-left: 3rem;
        margin-right: 3rem;
        gap: 20px;
    }
}

/* ====== Mobiles ====== */
@media screen and (max-width: 768.5px){
    
    .about_header{
        margin-left: 20px;
        margin-right: 20px;
    }

    .about_section{
        margin-left: 20px;
        margin-right: 20px;
    }
}