@import './fonts.css';
@import './colors.css';

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';
}

.accommodation{
    margin: 0rem 6.25rem 0rem 6.25rem;
}

/* ======= CAROUSEL ======= */
.carousel{
    width: 100%;
    height: 25.938rem;
    overflow: hidden;
    border-radius: 25px;
    display: grid;
}

.carousel_pictures{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.carousel_pictures-pic{
    height: 25.938rem;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.carousel_pictures-pic p{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    z-index: 3;
    margin: 0;
    text-align: center;
    align-self: self-end;
    padding-bottom: 3rem;
    color: var(--secondary-color);
    font-size: 1.125rem;
    font-weight: var(--medium);
}

.carousel_pictures-pic img{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel_nav{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.carousel_arrow-left{
    z-index: 4;
    width: 5rem;
    rotate: -90deg;
}

.carousel_arrow-right{
    z-index: 4;
    width: 5rem;
    rotate: 90deg;
}

.carousel_arrow-left:hover, .carousel_arrow-right:hover{
    cursor: pointer;
}

/* ======= HEADER ======= */

.accommodation_header{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accommodation_header-left h1{
    font-size: 2.25rem;
    font-weight: var(--medium);
    color: var(--primary-color);
}

.accommodation_header-left p{
    font-size: 1.125rem;
    font-weight: var(--medium);
    color: var(--primary-color);
    margin-top: 10px;
}

.accommodation_header-left_tags{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.accommodation_header-left_tags span{
    font-size: 0.875rem;
    font-weight: var(--medium);
    color: var(--secondary-color);
    padding: 0.25rem 2.5rem ;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.host_profile{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

.host_profile-name p{
    padding-top: 5px;
}

.host_profile-name p{
    font-size: 1.125rem;
    color: var(--primary-color);
    font-weight: var(--medium);
    text-align: right;
}

.host_profile img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.host_rating{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.host_rating img{
    width: 1.5rem;
    height: 1.5rem;
}

/* ======= ACCOMMODATION DETAILS ======= */

.accommodation_details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.75rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/*=============== RESPONSIVE ================*/

/* ====== Tablettes ====== */
@media screen and (max-width: 1023.5px){
    
    .accommodation{
        margin: 0 3rem 0 3rem;
    }
    
    .carousel, .carousel_pictures, .carousel_pictures-pic{
        height: 300px;
    }

    .carousel_nav img{
        width: 2.5rem;
    }

    .accommodation_header-left h1{
        font-size: 1.5rem;
    }

    .host_profile-name p{
        font-size: 0.75rem;
    }

    .host_profile{
        align-items: center;
    }

    .host_profile img{
        width: 40px;
        height: 40px;
    }

    .accommodation_header-left_tags span{
        padding-left: 35px;
        padding-right: 35px;
        font-size: 0.75rem;
    }

    .accommodation_details{
        gap: 30px;
    }
}

/* ====== Mobiles ====== */
@media screen and (max-width: 767.5px){

    .carousel, .carousel_pictures, .carousel_pictures-pic{
        height: 255px;
    }

    .carousel_nav img{
        width: 1.5rem;
    }

    .accommodation{
        margin: 0 20px 0 20px;
    }

    .accommodation_header{
        flex-direction: column;
        align-items: center;
    }

    .accommodation_header-left{
        width: 100%;
    }

    .accommodation_header-right{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .accommodation_header-left h1{
        font-size: 1.125rem;
    }

    .accommodation_header-left p{
        font-size: 0.875rem;
    }

    .accommodation_header-left_tags span{
        padding-left: 35px;
        padding-right: 35px;
        font-size: 0.625rem;
    }

    .host_rating {
        gap: 3px;
    }

    .host_rating img{
        width: 18px;
        height: 18px;
    }

    .accommodation_details{
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

@media screen and (max-width: 425px){

    .carousel_pictures p{
        display: none;
    }
}