@import './fonts.css';
@import './colors.css';

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';
}

/* ======= CAROUSEL ======= */
.carousel{
    --container-width: 100%;
    box-sizing: content-box;
    height: 25.938rem;
    overflow: hidden;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.carousel_pictures{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33.333333333%);
    grid-template-rows: 100%;
}

.carousel_pictures_pic{
    height: 25.938rem;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    object-fit: cover;
}

.carousel_nav p{
    z-index: 3;
    margin: 0;
    text-align: center;
    align-self: self-end;
    padding-bottom: 3rem;
    color: var(--secondary-color);
    font-size: 1.125rem;
    font-weight: var(--medium);
}

.carousel_pictures_pic img{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel_nav{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.carousel_arrow_left{
    z-index: 4;
    width: 5rem;
    rotate: -90deg;
}

.carousel_arrow_right{
    z-index: 4;
    width: 5rem;
    rotate: 90deg;
}

.carousel_arrow_left:hover, .carousel_arrow_right:hover{
    cursor: pointer;
}

/*=============== RESPONSIVE ================*/

/* ====== Tablettes ====== */
@media screen and (max-width: 1023.5px){
    
    .carousel, .carousel_pictures, .carousel_pictures_pic{
        height: 300px;
    }

    .carousel_nav img{
        width: 2.5rem;
    }
}

/* ====== Mobiles ====== */
@media screen and (max-width: 767.5px){

    .carousel, .carousel_pictures, .carousel_pictures_pic{
        height: 255px;
    }

    .carousel_nav img{
        width: 1.5rem;
    }
}

@media screen and (max-width: 425px){

    .carousel_pictures p{
        display: none;
    }
}

.slideshow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 400px;
  }
  
  .slide {
    flex: 1;
    position: absolute;
    top: 0;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .main-slide {
    opacity: 1;
  }
  
  .left-slide {
    left: -100%;
  }
  
  .right-slide {
    left: 100%;
  }
  
  button {
    margin-top: 10px;
  }