@import './fonts.css';
@import './colors.css';

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.dropdown{
    background-color: var(--tertiary-color);
    border-radius: 10px;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.dropdown_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding-left: 20px;
    border-radius: 10px;
}

.dropdown_header:hover{
    cursor: pointer;
}

.dropdown_header h2{
    font-size: 1.5rem;
    font-weight: var(--medium);
}

.dropdown_header img{
    height: 32px;
    width: 32px;
    transform: rotate(180deg);
    margin-right: 10px;
    filter: var(--secondary-color);
    transition: transform 0.3s ease-in;
}

.dropdown_content p, .dropdown_content ul{
    padding: 20px;
    list-style: none;
    color: var(--primary-color);
    font-weight: var(--regular);
}

/*=============== RESPONSIVE ================*/

/* ====== Tablettes ====== */
@media screen and (max-width: 1023.5px){
    
    .dropdown_header{
        height: 37px !important;
    }

    .dropdown{
        max-height: 37px;
    }

    .open{
        max-height: 400px;
    }

    .dropdown_header h2{
        font-size: 1.125rem;
    }

    .dropdown_header img{
        height: 24px;
        width: 24px;
    }

    .dropdown_content p{
        font-size: 1.125rem;
    }
}

/* ====== Mobiles ====== */
@media screen and (max-width: 767.5px){

    .dropdown_header{
        height: 30px !important;
    }

    .dropdown{
        max-height: 30px;
    }

    .open{
        max-height: 400px;
    }

    .dropdown_header h2{
        font-size: 0.813rem;
    }

    .dropdown_header img{
        height: 18.42px;
        width: 18.42px;
    }

    .dropdown_content p{
        font-size: 0.75rem;
    }
}