@import './fonts.css';
@import './colors.css';

.footer{
    box-sizing: border-box;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 13rem;
    padding:4.125rem 0rem 1.813rem 0rem;
}

.footer p{
    color: var(--secondary-color);
    font-family: 'Montserrat';
    font-size: 1.5rem;
    margin: 0;
}