@import './fonts.css';
@import './colors.css';

/*======= HERO BANNER =======*/

.home_header{
    height: 13.938rem;
    overflow: hidden;
    margin: 0rem 6.25rem 2.688rem 6.25rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: black;
    border-radius: 1.563rem;
}

.home_header img{
    object-fit: cover;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
    height: 13.938rem;
    opacity: 70%;
}

.home_header h1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
    z-index: 3;
    color: var(--secondary-color);
    font-family: 'Montserrat';
    font-size: 3rem;
    font-weight: 400;
    align-self: center;
    text-align: center;
    margin: 0;
}

/*=============== RESPONSIVE ================*/

/* ====== Tablettes ====== */
@media screen and (max-width: 1023.5px){
    
    .home_header {
        margin: 0rem 3rem 2rem 3rem;    
    }
    
    .home_header h1{
        font-size: 2.25rem;
    }

}

/* ====== Mobiles ====== */
@media screen and (max-width: 767.5px){
    
    .home_header {
        margin: 0 20px 20px 20px;    
        border-radius: 10px;
        height: 111px;
    }

    .home_header img{
        height: 111px;
    }
    
    .home_header h1{
        font-size: 1.5rem;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
    }

}