@import './fonts.css';
@import './colors.css';

.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    margin: 0rem 6.25rem 0rem 6.25rem;
}

.banner_nav{
    font-family: 'Montserrat';
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 57px;
}

.banner_nav a, .banner_nav a:hover, .banner_nav a:visited{
    text-decoration: none;
    color: var(--primary-color);
}

.banner_nav a:hover{
    text-decoration: underline;
}

/*=============== RESPONSIVE ================*/

/* ====== Tablettes ====== */
@media screen and (max-width: 1023.5px){
    .banner{
        height: 83px;
        margin: 0rem 3rem 0rem 3rem;    
    }

    .banner_nav{
        font-size: 1.125rem;
        gap: 20px;
    }

    .kasa-logo{
        height: 47px;
    }
}

/* ====== Mobiles ====== */
@media screen and (max-width: 767.5px){

    .kasa-logo{
        height: 44px;
    }

    .banner{
        height: 83px;
        margin: 0px 20px;  
    }
    
    .banner_nav{
        font-size: 0.75rem;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 374.5px){

    .kasa-logo{
        height: 35px;
    }

}